@import './assets/css/reset.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~ngx-toastr/toastr';

html, body {
  min-height: 100%;
  height: 1px;
}

body {
  font-size: 14px;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

._accent-bg-color {
  background-color: rgba(var(--accent-bg-color), 1) !important;
}

._accent-font-color {
  color: rgba(var(--accent-bg-color), 1) !important;
}

._container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
