.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
  }
}