.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    span {
      padding-right: 10px;
    }
  }

  &__nav {
    display: flex;

    &-item {
      color: #fff;
      &--active {
        color: #fff;
        background: rgba(var(--accent-bg-color), 1);
      }
      &--settings {
        color: #fff; 
      }
    }
  }
}