<div class="_container">
  <form class="search">
    <div class="search-wrap">
      <input 
        class="search__field" 
        [(ngModel)]="inputVal" 
        (keyup)="onKeyPress($event)" 
        placeholder="Search"
        name="search"
        autocomplete="off"
        >
      <i class="search__icon material-icons">search</i>
    </div>
    <ul 
      class="search__result" 
      [class.search__result--empty]="!inputVal?.length && !searchResult.length" 
      perfectScrollbar>
      <ng-container *ngIf="searchResult.length">
        <li *ngFor="let item of searchResult" class="search__result-item" (click)="handleItemClick(item)">
          {{ item.Country.LocalizedName }}: 
          {{ item.LocalizedName }}
        </li>
      </ng-container>
      <span *ngIf="inputVal.length > 0 && !searchResult.length">Nothing to found...</span>
    </ul>
  </form>
</div>
