<div class="_container">
  <form class="search">
    <input class="search__field" (keyup)="onKeyPress()" placeholder="City">
    <ul class="search__result">
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
      <li class="search__result-item" (click)="handleItemClick($event)">
        City 1
      </li>
    </ul>
  </form>
</div>
