<div class="_container">
  <form class="search">
    <input class="search__field" placeholder="City">
    <ul class="search__result">
      <li class="search__result-item">
        <button mat-button>City 1</button>
      </li>
      <li class="search__result-item">
        <button mat-button>City 2</button>
      </li>
      <li class="search__result-item">
        <button mat-button>City 3</button>
      </li>
      <li class="search__result-item">
        <button mat-button>City 4</button>
      </li>
      <li class="search__result-item">
        <button mat-button>City 5</button>
      </li>
      <li class="search__result-item">
        <button mat-button>City 6</button>
      </li>
      <li class="search__result-item">
        <button mat-button>City 7</button>
      </li>
    </ul>
  </form>
</div>
