<div *ngIf="cityData" class="_container">
  <div class="weather-info">
    <div class="weather-info__heading">
      <span class="weather-info__heading-item date-info">{{ getMonth() }}, {{ getYear() }}</span>
      <h4 *ngIf="cityData.LocalizedName" class="weather-info__heading-item weather-info__city-name">
        <span class="weather-info__city-name-label">Weather in</span>
        {{ cityData.LocalizedName }}
      </h4>
      <button class="weather-info__heading-item control-item button" mat-button (click)="toggleFavorite()" 
        title="{{ !isFavorite ? 'Add to favorites' : 'Remove from favorites'}}">
        <i *ngIf="isFavorite" class="search__icon material-icons">turned_in</i>
        <i *ngIf="!isFavorite" class="search__icon material-icons">add</i>
      </button>
    </div>

    <app-weather-info-list 
      *ngIf="weatherData" 
      [list]="weatherData.DailyForecasts"
      (emitListItemClick)="handleListItemCLick($event)">
    </app-weather-info-list>

    <app-weather-info-full-card *ngIf="isFullInformationCardOpen"></app-weather-info-full-card>
  </div>
</div>
