.weather-info {
  padding: 15px 0;
  &__heading {
    margin: 0 15px;
    display: flex;
    &-item {
      font-size: 28px;
      padding: 4px 10px;
      border-radius: 5px;
      display: flex;
      margin-right: 15px;
      box-shadow: 0 0 4px rgba(0, 0, 0, .2);
      &.date-info {
        background: rgba(255, 255, 255, .5);
        backdrop-filter: blur(13px);
        color: #fff;
      }
      &.control-item {
        color: #fff;
        border: 2px solid #9A31E6;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 40px;
        line-height: 10px;
      }
    }
  }

  &__city-name {
    color: #000;
    background: #fff;
    &-label {
      opacity: .7;
      font-weight: 100;
      padding-right: 6px;
    }
  }
}
