.main-app {
  background-color: #300D5D;
  background-image: url("../assets/images/pngtree-premium-purple-map-building-advertising-background-backgroundpurple-backgroundearthbuildingilluminateintelligenthand-paintedadvanced-image_71122.jpg");
  min-height: 100vh;
  position: relative;
  background-position: bottom;
  background-repeat-y: no-repeat;
}